@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

@import url(reset.css);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html {
   font-size: 10px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    width: 100%;
    height: 70%;
    padding: 0rem 2rem;
} 
nav .menu .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

nav .menu .user span:first-child {
    width: 4rem;
    height: 4rem;
    background-color: #bdc3c7;
    margin-right: 1rem;
}

nav .menu .user span:nth-child(2) {
    width: 19rem;
    height: 4rem;
    background-color: #bdc3c7;
    margin-left: 1rem;
}

nav .menu .link span{
    display: block;
    width: 100%;
    height: 4rem;
    margin: 3rem 0;
    background-color: #bdc3c7;
}

nav .profile {
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

nav .profile span {
    display: block;
    width: 20rem;
    height: 20rem;
    background-color: #bdc3c7;
    border-radius: 5px;
}

main {
    width: 70vw;
    height: 100%;
    background-color: #eee;
    padding: 0rem 5rem;
}

main .container-top {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container-top .frist-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

main .container-top .frist-container span:first-child {
    display: block;
    height: 4rem;
    width: 50%;
    background-color: #bdc3c7;
    margin-right: 1rem;
}

main .container-top .frist-container span:nth-child(2) {
    display: block;
     height: 4rem;
    width: 4rem;
    background-color: #bdc3c7;
}

main .container-top .second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

main .container-top .second-container .one-link{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
}

main .container-top .second-container .one-link span{
    display: block;
    height: 4rem;
    width: 30rem;
    background-color: #bdc3c7;
}

main .container-top .second-container .multi-link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

main .container-top .second-container .multi-link span {
    display: block;
    height: 4rem;
    width: 10rem;
    background-color: #bdc3c7;
    margin: 0rem 1rem;
}

main .container-bottom {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    gap: 5rem;
    padding: 5rem 0rem;
}

main .container-bottom span:first-child {
    background-color: #bdc3c7;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-radius: 5px;
}

main .container-bottom span:nth-child(2) {
    background-color: #bdc3c7;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 5px;
}

main .container-bottom span:nth-child(3) {
    background-color: #bdc3c7;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 5px;
}

aside {
    width: 15vw;
    height: 100%;
}

aside .container {
    padding: 0rem 2rem;
}

aside .container .container-top {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .container .container-top span:first-child {
    display: block;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    background-color: #bdc3c7;
}

aside .container .container-top span:nth-child(2) {
    display: block;
    width: 70%;
    height: 4rem;
    margin-left: 1rem;
    background-color: #bdc3c7;
}

aside .container .container-middle {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

aside .container .container-middle .single{
    height: 4rem;
    width: 100%;
}

aside .container .container-middle .single span:first-child {
    display: block;
    height: 4rem;
    width: 80%;
    background-color: #bdc3c7;
}

aside .container .container-middle .multi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

aside .container .container-middle .multi .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin: 1rem 0rem;
}

aside .container .container-middle .multi .link span:first-child {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #bdc3c7;
    margin-right: 1rem;
}

aside .container .container-middle .multi .link span:nth-child(2) {
    display: block;
    height: 4rem;
    width: 80%;
    background-color: #bdc3c7;
    margin-left: 1rem;
}

aside .container .container-bottom {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .container .container-bottom span {
    display: block;
    width: 100%;
    height: 12rem;
    background-color: #bdc3c7;
    border-radius: 5px;
}